.container {
  width: 1000px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 3px solid rgb(182, 182, 182);
  box-shadow: 0  4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 40px;
  width: 800px;
}

form {
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(182, 182, 182);
  box-shadow: 0  4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 500px;
  padding: 30px;
  margin: 20px;
  border-radius: 12%;
}

.form-header {
  text-align: center;
  padding: 15px;
}

.form-container {
  display: flex;
  justify-content: center;
}

.label {
  margin: 2px;
  font-size: 125%;
}

.form-input {
  border: 1px solid grey;
  margin: 5px;
  padding: 6px;
}

table {
  width: 600px;
  border: 3px solid rgb(182, 182, 182);
  padding: 20px;
  margin: 20px;
  box-shadow: 0  4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5%;
}

td {
  border: 2px solid rgb(159, 159, 159);
  padding: 10px;
  border-radius: 15%;
  text-align: center;
  font-size: 130%;
}

thead {
  text-align: center;
}

.table-head {
  border: 2px solid black;
}

button {
  border: none;
  margin: 3px;
  border-radius: 10%;
  text-align: center;
  height: 30px;
}

#check-header {
  width: 20px;
}

.row-container {
  display: flex;
  border: 2px solid grey;
  margin: 20px;
}

.row {
  display: table-row;
  border: 2px solid black;
}

.cell {
  display: table-cell;
  padding: 30px;
  width: 40px;
}

.name-cell {
  display: table-cell;
  text-align: center;
  padding: 30px;
  width: 200px;
}

.btn-cell {
  display: table-cell;
  padding: 10px;
}

.check-cell {
  display: table-cell;
  padding: 30px;
  height: 60px;
  width: 100px;
}

.check12 {
  width: 22px;
  height: 22px;
}

.btn-edit {
  background-color: rgb(90, 225, 255);
  color: black;
  height: 60px;
  width: 60px;
}

.btn-remove {
  background-color: rgb(244, 52, 52);
  color: black;
  height: 60px;
  width: 100px;
}

.submit-btn {
  border: none;
  background-color: rgb(24, 228, 75);
  color: black;
  max-width: 475px;
  padding: 10px;
  font-size: 150%;
}